# saved discourse files
discourse-*.html

# python cache
__pycache__/
discourse_forum/discourse_forum/__pycache__/
discourse_forum/discourse_forum/spiders/__pycache__/
*.pyc
*.pyo
*.pyd

# mac stuff
.DS_Store

# dotenv file
.env